<h2>Please answer the questions</h2>
<form #userPost="ngForm">
    <input type="text" name="fullName" ngModel placeholder="First and Last Name"> <br><br>
    <input type="text" name="emailAddress" ngModel placeholder="Email"> <br><br>
    <input type="text" name="weekNumber" ngModel placeholder="Week Number"> <br><br>
    <input type="text" name="lessonName" ngModel placeholder="Lesson Name"> <br><br>
    <input type="text" name="studentComment" ngModel placeholder="Comments"> <br><br>
    <input type="text" name="studentRating" ngModel placeholder="Rating"> <br><br>
    <input type="button" name="studentRecommendation" ngModel placeholder="true"> <input type="button" name="studentRecommendation" ngModel placeholder="false"><br><br>
    <button type="submit">Submit Survey</button>
</form>