<h2>Please answer the questions</h2>
<form #userPost="ngForm" (ngSubmit)="onSubmit(userPost.value)">
    <p>Please type your first and last name.</p>
    <input type="text" name="fullName" ngModel placeholder="First and Last Name"> <br><br>

    <p>Please type your email address.</p>
    <input type="text" name="emailAddress" ngModel placeholder="Email"> <br><br>

    <p>Please type your first and last name.</p>
    <input type="text" name="weekNumber" ngModel placeholder="Week Number"> <br><br>

    <p>What was the name of the lesson?</p>
    <input type="text" name="lessonName" ngModel placeholder="Lesson Name"> <br><br>

    <p>What did you think of the lesson?</p>
    <input type="text" name="studentComment" ngModel placeholder="Comments"> <br><br>

    <p>On a scale of 1 to 10, how would you rate your experience as a student in this class?</p>
    <input type="text" name="studentRating" ngModel placeholder="Rating"> <br><br>

    <p>Would you recommend this class to others?</p>
    <input type="button" name="studentRecommendation" ngModel placeholder="true"> <input type="button" name="studentRecommendation" ngModel placeholder="false"><br><br>
    
    <button type="submit">Submit Survey</button>
</form>