<h2>Please answer the questions</h2>
<form #userPost="ngForm">
    <input type="text" name="fullName" ngModel> <br><br>
    <input type="text" name="emailAddress" ngModel> <br><br>
    <input type="text" name="weekNumber" ngModel> <br><br>
    <input type="text" name="lessonName" ngModel> <br><br>
    <input type="text" name="studentComment" ngModel> <br><br>
    <input type="text" name="studentRating" ngModel> <br><br>
    <input type="text" name="studentRecommendation" ngModel> <br><br>
    <button type="submit">Submit Survey</button>
</form>